/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Shadows+Into+Light+Two&display=swap');

/*------------------------------------------------------- Root Variables */

/* General Root Variables */
:root {
    /* Font variables */ 
    --bodyfont: 'Roboto', sans-serif;
    --titlefont: 'Shadows Into Light Two', cursive;    
    
    /* Colour Variables */
    --white: rgb(252, 252, 252);
    --black: rgb(0, 0, 0);
    --btn-shadow: rgba(0,0,0,0.19);

    /* Colour variables for toggle function */
    --toggle-ball: rgb(255, 255, 255);
    --toggle-off: rgb(165, 165, 165);
    --toggle-on: rgb(64, 121, 67);

    /* Colour Variables for Game buttons */
    --correct: rgb(0, 128, 0);
    --incorrect: rgb(255, 0, 0);

}
/* The following code is to implement light/dark colour palettes that define the toggle function - for UX purposes.
    Sourced from https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

/* Light Mode colour variables */
:root {
    --blue: rgb(89, 147, 217);
    --purple: rgb(148, 96, 190);
    --pink: rgb(213, 133, 183);
    --orange: rgb(216, 127, 111);
    --yellow: rgb(245, 238, 102);
    --game-bg: url(../images/light.png);
        /* reference: https://www.nikpro.com.au/css-custom-properties-for-image-backgrounds-explained/ */
}  
/* Dark Mode colour variables */
[data-theme="dark"]{
    --blue: rgb(26, 67, 116);
    --purple: rgb(103, 57, 141);
    --pink: rgb(178, 61, 133);
    --orange: rgb(207, 100, 82);
    --yellow: rgb(240, 230, 25);
    --game-bg: url(../images/dark.png);
}

/*------------------------------------------------------- Special Styling */
body {
    color: var(--yellow);
    font-family: var(--bodyfont);
    font-weight: 300;
}

button:focus {
    /* reference: https://github.com/react-bootstrap/react-bootstrap/issues/1300 */
    outline: none;
}

/* Edited from W3School's CSS placeholder example for better readability and consistency 
    reference: https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--blue);;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--blue);;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--blue);;
}

.btn-click {
    cursor: pointer;
}

/*------------------------------------------------------- Welcome Modal */
#welcomeModal .modal-dialog {
    /* Makes Welcome Modal full screen
        sourced from https://stackoverflow.com/questions/18432394/how-to-make-twitter-bootstrap-modal-full-screen */
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#welcome-content {
    background: var(--game-bg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: auto;
    min-height: 100%;
    border-radius: 0;
    margin: 0 auto;
}
#welcome-body {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.welcome-text {
    padding-bottom: 5px;
}
.welcome-text img {
    max-width: 100%;
    height: auto;
}
.welcome-text h3 {
    color: var(--blue);
    padding: 10px 0;
    font-size: 1.4rem;
    font-family: var(--titlefont);
    text-shadow: 1px 1px var(--black);
    letter-spacing: 1px;
}
.welcome-text h4 {
    padding: 5px 0;
    font-size: 1.3rem;
    font-weight: 500;
}
.welcome-text input {
    font-size: 1.2rem;
    min-width: 50%;
    padding: 6px;
    border: 1px solid var(--white);
    border-radius: 5px;
    text-align: center;
}
.welcome-text button {
    font-size: 1.2rem;
    background-color: var(--blue);
    color: var(--white);
}
.welcome-text button:hover  {
    background-color: var(--white);
    color: var(--blue);
}

/*------------------------------------------------------- Header Section */
/* Styling for logo */
.logo-sec {
    padding: 10px;
    position: fixed;
    width: 50vw;
    height: auto;
    left: 0;
}
.logo-sec img {
    width: 100%;
}

/* Styling for Toggle buttons */
.toggle-sec {
   padding: 10px;
   position: fixed;
   right: 0; 
}

/*------------------------------------------------------- Toggle Switches */
/* Styling for Toggle button section */

/* Styling for Mute button */
.mute-btn {
    background: transparent;
    border: none;
    color: var(--yellow);

    font-size: 1.5rem;
    top: 10px;
    right: 80px;
    position: absolute; 
 }

/* Light / Dark toggle function styling for UX purposes
	sourced and edited from https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */
.toggle-sec input {
    display: none;
}
.toggle-switch {
    height: 34px;
    position: relative;
    width: 60px;
}
.toggle-slide {
    background-color: var(--toggle-off);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.toggle-slide:before {
    background-color: var(--toggle-ball);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
input:checked + .toggle-slide {
    background-color: var(--toggle-on);
}
input:checked + .toggle-slide:before {
    transform: translate(26px);
}
.toggle-slide.toggle-ball {
    border-radius: 34px;
}
.toggle-slide.toggle-ball:before {
    border-radius: 50%;
}

/*------------------------------------------------------- Menu Section */
/* Styling for Menu section on page */
.menu-sec {
    background-color: var(--blue);
    min-height: 40vh;
    
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Styling for Category section */
.cat-sec {
    padding-top: 20%;
    padding-bottom: 2%;
}
.cat-btns {
    padding-top: .8rem;
    display: flex;
    justify-content: center;
}

/* Styling for buttons */
.cat-btns a {
    border-radius: 3px;
    box-shadow: 2px 3px var(--black);
}

/*------------------------------------------------------- Game Play Section */
/* Styling for Game Play section on page */
.game-sec {
    padding: 12px 5px 50px 5px;

    min-height: 60vh;
    max-height: 60vh;
    width: 100vw;
}
.home-sec {
    padding: 12px 5px 50px 5px;
    background: var(--game-bg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    min-height: 60vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-content: center;
}
.play-sec {
    padding-top: 10vh;
}

/* Styling for each category background - for consistency purposes */
.tv-bg {
    background: url(../images/tv-bg.png) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.chart-bg {
    background: url(../images/chart-bg.png) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.tb-bg {
    background: url(../images/tb-bg.png) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.movie-bg {
    background: url(../images/movie-bg.png) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* Styling for text on Home Page */
#welcome-message h1 {
    font-family: var(--titlefont);
    font-size: 3rem;
}   

/* Styling for Questions and Answers section */
/* Styling for score in game mode */
.score-sec {
    left: 0;
    top: 0;
}
.score-text {
    font-size: 1.4rem;
    font-weight: 700;
}

/* Styling for questions in game mode */
.questions-sec, .answers-sec {
    padding: 10px;
}
.questions-sec {
    font-size: 1.3rem;
    font-weight: 500;
}

/* Styling for answers in game mode */
.answer-btn {
    display: inline-block;
    padding: 3px;
}
.answer-text {
    font-size: 1.2rem;
    background-color: var(--blue);
    color: var(--white);

    border-radius: 7px;
    border: 2px solid var(--white);
    box-shadow: 0 8px 16px 0 var(--btn-shadow), 0 6px 20px 0 var(--btn-shadow);

    padding: 3px 10px;
    margin: 3px;
}

/* Styling for conditional classes - when player is correct/incorrect */
.correct button  {
    background-color: var(--correct);
}
.incorrect button {
    background-color: var(--incorrect);
}

/*------------------------------------------------------- Game End Text */
/* End text is not displayed by default, but called in JS on game end */
.end-sec {
    display: none;
}
.end-sec h3 {
    font-size: 2.5rem;
    font-family: var(--titlefont);
}
.end-sec h5 {
    font-size: 1.5rem;
    font-weight: 500;
}
.end-sec p {
    font-size: 1.4rem;
    /* Override of default CSS styling for UI purposes */
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 2px;
}
.end-sec i {
    border: 2px solid var(--yellow);
    padding: 10px;
    margin: 12px;
    color: var(--yellow);
    font-size: 1.6rem;
}

/*------------------------------------------------------- Sliding Footer */
/* Footer slides from bottom on mobile and tablet devices for UX purposes 
    sourced and edited from http://jsfiddle.net/nathanbweb/JHu7j/ */
.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-button {
    background: transparent;
    font-size: 2rem;
    position: absolute;
    top: -45px;
	right: 15px;
	width:20px;
	height:50px;
    border: none;
}
.footer-content {
    width: 100%;
    height: 0px;
    background: var(--blue);
    border: none;
    text-align: center;
    font-size: 1.2rem;
}
.footer-text {
    padding: 5px;
}
.footer-text li {
    display: inline;
}
.footer-icon i {
    padding: 5px;
    color: var(--yellow);
}

/*------------------------------------------------------- Form Modal */
.form-content {
    background-color: var(--orange);
    color: var(--white);
}
.form-header {
    border: none;
    padding-bottom: 0;
    font-family: var(--titlefont);
    letter-spacing: 1px;
}
.form-header p {
    margin-bottom: 0;
}
.form-header i {
    color: var(--white);
}
.form-body {
    padding-top: 1rem;
}
/* Edited from W3School's example to style contact form 
        reference: https://www.w3schools.com/howto/howto_css_contact_form.asp */
.form-body input[type='text'], input[type='email'], textarea {
    width: 100%;
    padding: 7px;
    border: 2px solid var(--white);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 1px;
    resize: none;
}
.form-btn {
    float: right;
    background-color: var(--white);
    color: var(--blue);
}
.form-btn:hover {
    background-color: var(--blue);
    color: var(--white);
}

/*------------------------------------------------------- Media Queries */

/* Breakpoint to maintain structural integrity on a Tablet device */
@media (min-width: 700px) and (max-width: 991px) {

    /*--------------------------------- Welcome Modal */
    /* Styling for Welcome Modal */
    .welcome-text img {
        max-width: 80%;
    }
    .welcome-text h3 {
        font-size: 2.5rem;
    }
    .welcome-text h4 {
        font-size: 1.7rem;
    }
    .welcome-text input {
        font-size: 1.5rem;
        min-width: 30%;
        max-width: 50%;
    }
    .welcome-text button {
        font-size: 1.5rem;
    }
    
    /*--------------------------------- Menu Section */
    /* Styling for Menu section on page on a medium screen */
    .menu-sec {
        min-height: 40vh;
    }
    .cat-sec {
        max-height: 60vh;
        padding-top: 15vh;
    }
    .cat-btns a {
        width: 70%;
    }

    /*--------------------------------- Game Play Section */
    /* Styling for Game Play section on page on a medium screen */
    .game-sec {
        max-height: 60vh;
    }

    /* Styling for text on Home Page */
    #welcome-message h1 {
        font-size: 4rem;
    }

    /* Styling for Questions and Answers section */
    .score-text {
        font-size: 1.8rem;
    }
    .questions-sec, .answers-sec {
        padding-right: 10%;
        padding-left: 10%;
    }
    .questions-sec {
        font-size: 2rem;
    }
    .answer-text {
        font-size: 1.5rem;
    }

    /*--------------------------------- Game End Text */
    .end-sec h3 {
        font-size: 3.5rem;
    }
    .end-sec h5 {
        font-size: 2rem;
    }
    .end-sec p {
        font-size: 1.6rem;
    }
    .end-sec i {
        font-size: 2.5rem;
    }

    /*--------------------------------- Sliding Footer */
    /* Styling for Sliding Footer on a medium screen */
    .footer-button {
        font-size: 3rem;
        top: -70px;
        right: 35px;
    } 
    .footer-content {
        font-size: 1.5rem;
    }

    /*--------------------------------- Form Modal */
    .form-header h4 {
        font-size: 2rem;
    }
    .form-header p {
        font-size: 1.6rem;
    }
    .form-body input, textarea {
        font-size: 1.2rem;
    }
    .form-body button {
        font-size: 1.3rem;
    }
}

/* Breakpoint to maintain structural integrity on a Laptop Screen */
@media (min-width: 991px){ 

    /*--------------------------------- Welcome Modal */
    /* Styling for Welcome Modal */
     /* Styling for Welcome Modal */
     .welcome-text img {
        max-width: 60%;
    }
    .welcome-text h3 {
        font-size: 3rem;
    }
    .welcome-text h4 {
        font-size: 1.7rem;
    }
    .welcome-text input {
        font-size: 1.2rem;
        min-width: 10%;
        max-width: 15%;
    }
    .welcome-text button {
        font-size: 1.2rem;
    }
    
    /*--------------------------------- Header Section */
    /* Styling for Header section on page on a larger screen */    
    .logo-sec img {
        width: 55%;
    }

    /*--------------------------------- Menu Section */
    /* Styling for Menu section on page on a larger screen */
    .menu-sec {
        padding-top: 2%;
        min-height: 100vh;
        max-width: 30vw;
        float: left;

        justify-content: normal;
    }
    .cat-btns {
        min-width: 30vw;
    }
    .cat-btns a {
        width: 60%;
    }

    /*--------------------------------- Game Play Section */
    /* Styling for Game Play section on page on a larger screen */
    .game-sec, .home-sec {
        min-height: 100vh;
        max-width: 70vw;
        float: right;

        justify-content: center;
        align-items: center;
    }
    .game-body {
        position: absolute;
        max-width: 65vw;
        min-height: 90vh;
    }
    .play-sec { 
        padding-top: 25vh;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Styling for text on Home Page */
    #welcome-message h1{
        font-size: 4rem;
    }

    /* Styling for score in game mode */
    .score-text {
        font-size: 2.8rem;
    }

    /* Styling for questions in game mode */
    .questions-sec {
        font-size: 2.3rem;
    }

    /* Styling for answers in game mode */
    .answer-text {
        font-size: 1.5rem;
    }

    /*--------------------------------- Game End Text */
    .end-sec h3 {
        font-size: 4rem;
    }
    .end-sec h5 {
        font-size: 2.3rem;
    }
    .end-sec p {
        font-size: 2rem;
    }
    .end-sec i {
        font-size: 3rem;
    }

    /*--------------------------------- Footer */
    /* Footer for larger devices only */
    .footer-lg {
        font-size: 1.4rem;
        padding: 0;
    }
    .footer-lg ul {
        min-width: 30vw;
        max-width: 32vw;
        padding-left: 0px;
        padding-right: 50px;
        margin-bottom: 3px;
    }
    .footer-icon a {
        width: 2%;
    }
    .footer-copyright i {
        padding-left: 2%;
    }
}