/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Shadows+Into+Light+Two&display=swap');

/*------------------------------------------------------- Root Variables */

/* General Root Variables */
:root {
    /* Font variables */ 
    --bodyfont: 'Roboto', sans-serif;
    --titlefont: 'Shadows Into Light Two', cursive;
}

/* The following code is to define and implement the colour palettes for the light/dark toggle function - for UX purposes.
    Sourced from https://ryanfeigenbaum.com/dark-mode/#toggling-dark-light-mode-with-js */

/* Light Mode colour variables */
:root[colour-mode="light"]{
    --blue: rgb(89, 147, 217);
    --purple: rgb(148, 96, 190);
    --pink: rgb(213, 133, 183);
    --orange: rgb(216, 127, 111);
    --yellow: rgb(245, 238, 102);
}  

/* Dark Mode colour variables */
:root[colour-mode="dark"]{
    --blue: rgb(26, 67, 116);
    --purple: rgb(103, 57, 141);
    --pink: rgb(178, 61, 133);
    --orange: rgb(207, 100, 82);
    --yellow: rgb(240, 230, 25);
}

/*------------------------------------------------------- Special Styling */
body {
    font-family: var(--bodyfont);
    font-weight: 300;
    background-color: var(--blue);
}

/*------------------------------------------------------- Game Page */

/*--------------------------- Header */
/* Styling for logo */
.logo-sec {
    padding: 10px;
    position: fixed;
    width: 50vw;
    height: auto;
    left: 0;
}

/* Styling for Toggle buttons */
.toggle-sec span {
   padding: 30px 20px 20px 20px;
   position: fixed;
   right: 0; 
}
.toggle-sec span > button {
    background-color: transparent;
    border: none;
    color: var(--yellow);
}

/*--------------------------- Main Sections */
/* Styling for Menu section on page */
.menu-sec {
    min-height: 40vh;
    padding-top: 5rem;
}
/* Styling for Game Play section on page */
.game-side {
    background: url(../images/light.png) no-repeat ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    min-height: 60vh;
    width: 100vw;
}
.game-side.dark-mode {
    background: url(../images/dark.png) no-repeat ;
}

/*--------------------------- High Score */
.hs-sec p {
    height: 1vh;
    font-weight: 700;
}

/*--------------------------- Category Buttons */
/* Styling for category section */
.cat-sec {
    margin: 10px 0;
    padding: .6rem 0;
}

/* Styling for button section */
.cat-btn {
    padding-top: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for buttons */
.cat-btn button {
    background: transparent;
    border: none;
    border-radius: 50px;
    padding: 0;
    width: 18rem;
    height: auto;
}







/*------------------------------------------------------- Media Queries */

/* Breakpoint to maintain structural integrity on a Tablet device */
@media (min-width: 700px) and (max-width: 991px) {
}



/* Breakpoint to maintain structural integrity on a Laptop Screen */
@media (min-width: 991px){ 
    
    /*--------------------------------- Main Game Page */

    .menu-side {
        background-color: var(--blue);
        height: 100vh;  
    }

    .game-side {
        background: url(../images/light.png) no-repeat top;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        height: 100vh;
        width: 60vw;
    }

}



