/*------------------------------------------------------- Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Shadows+Into+Light+Two&display=swap');

/*------------------------------------------------------- Root Variables */
:root {

    /* Font variables */ 
    --bodyfont: 'Roboto', sans-serif;
    --titlefont: 'Shadows Into Light Two', cursive;

    /* Light Mode colour variables */
    --light-blue: rgb(89, 147, 217);
    --light-purple: rgb(148, 96, 190);
    --light-pink: rgb(213, 133, 183);
    --light-orange: rgb(216, 127, 111);
    --light-yellow: rgb(245, 238, 102);

    /* Dark Mode colour variables */
    --dark-blue: rgb(26, 67, 116);
    --dark-purple: rgb(103, 57, 141);
    --dark-pink: rgb(178, 61, 133);
    --dark-orange: rgb(207, 100, 82);
    --dark-yellow: rgb(240, 230, 25);
}

/*------------------------------------------------------- Special Fonts */
body {
    font-family: var(--bodyfont);
    font-weight: 300;
}

button {
    height: 20vh;
}

.tv-cat {
    background: url(../images/tv-button.png);
    background-repeat: no-repeat;
    width: 80%;
}

.menu-side {
    background-color: var(--light-blue);
    height: 100vh;  
}

.game-side {
    background: url(../images/light.png) no-repeat top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: 100vh;
    width: 60vw;
}